.link {
  color: var(--primary);
  cursor: pointer;
  padding: 1rem;
  border-radius: var(--border);
  position: relative;
  width: fit-content;
  transition: var(--transition);
}

.link::after {
  content: "";
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform var(--transition) ease-out;
}

.link:hover::after {
  transform: scaleX(1.11);
  transform-origin: bottom left;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.align-x {
  align-items: center;
}
.gap-4 {
  gap: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}
.my-4 {
  margin: 4rem auto;
}

.my-2 {
  margin: 2rem auto;
}
.gap-2 {
  gap: 2rem;
}

.text-center {
  text-align: center;
}
.center {
  display: grid;
  place-items: center;
}
.inline-block {
  display: inline-block;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.p-2 {
  padding: 2rem;
}

.p-0 {
  padding: 0rem;
}

.relative {
  position: relative;
}

.card {
  padding: 2.5rem;
  border-radius: var(--border-radius-2);
  background-color: var(--tertiary);
  box-shadow: var(--shadow);
  backdrop-filter: var(--blur);
  border: none;
  transition: .3s;
}
.flexible {
  flex: 1 1 100px;
}

.flexible-md {
  flex: 1 1 400px;
}

.c-hover:hover {
  box-shadow: var(--shadow-hover);
  transition: .3s;
  transform: scale(.95);
}

.card:active {
  transform: translateY(5px);
  border-radius: var(--border-radius-1);
}

.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), black 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: var(--primary);
}

.spinner:after {
  border-top-color: var(--secondary);
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: .1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: .1;
  }
}